body{
    background-color: rgb(0, 139, 97)
}
#prod{
   
    color:blue;
    position: absolute;
    top: 20%;
    left: 43%;
    height: 50px;
    
}

.container{

    height: 10rem;

}
#search{
    position: absolute;
    top: 26%;
    left: 50.5%;
}
#print{
    
    position: absolute;
    top: 26%;
    left: 49.5%;

}
#reset{
    position: absolute;
    top: 26%;
    left: 42%;
}
h1{
}
footer{

    top: 100px;

}
.card{
    
    top: 90%;
   
}